* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.box {
  height: 600px;
  width: 400px;
  margin-left: 30%;
  background-color: rgba(0, 0, 0, 0.800);
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border: 2px solid #00d4ff;
  box-shadow: 0 0 50px #fd0000;
}




.sign-up {
  height: 50px;
  width: 200px;
  margin-left: 50px;
  color: white;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
}


input {
  height: 40px;
  width: 300px;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

button {
  height: 35px;
  width: 200px;
  margin-top: 30px;
  margin-left: 25%;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #45F3FF;
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 20px 5px #45F3FF;
}

.hero-sec {
  margin-top: 25%;
}

.hero-sec2 {
  margin-top: 20px;
}

.footer {
  height: 40px;
  width: 300px;
  color: rgb(67, 249, 249);
  margin-top: 70px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.sec {
  margin-left: 10px;
  color: pink;
}

.footer2 {
  height: 40px;
  width: 300px;
  color: rgb(67, 249, 249);
  margin-top: 0px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.fourth {
  margin-left: 10px;
  color: pink;
}